# Dependencies
node_modules/
dist/

# Testing
coverage/

# Environment
.env
.env.*
!.env.example

# Database
data/db.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db 

/data/db.json
